@model Hostel_Managament_System_MVC.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<h2>Change Password</h2>


@using (Html.BeginForm("Changepassword", "changepassword", FormMethod.Post))
{
    <div class="form-control">
        <div class="col-md-6">
            <div class="form-group">
                @*@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @Value = @Session["Email"], @readonly = "readonly" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Current password" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-8">
                    @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "New password" } })
                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-submit">
            <div class="col-md-5">
                <div class="title-section margin_bottom_17">
                    <input type="submit" value="Submit" class="btn btn-default" />

                </div>

            </div>
        </div>
        <p>@ViewBag.Message</p>
    </div>
    @*<table class="center">
            <tr>
                <td>Email</td>
                <td>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @Value = @Session["Email"], @readonly = "readonly" } })


                </td>
                <td>@Html.ValidationMessageFor(model => model.Email)</td>
            </tr>
            <tr>
                <td>Old Password</td>
                <td>
                    @Html.EditorFor(model => model.Password)
                </td>
                <td>@Html.ValidationMessageFor(model => model.Password)</td>
            </tr>
            <tr class="rowspace">
                <td>New Password</td>

                <td>
                    @Html.EditorFor(model => model.NewPassword)
                </td>
                <td>@Html.ValidationMessageFor(model => model.NewPassword)</td>
            </tr>

            <tr class="rowspace">
                <td colspan="3" id="button">
                    <input type="submit" value="Change Password" />
                </td>
            </tr>
            <tr class="rowspace"><td colspan="3">@ViewBag.Message</td></tr>
        </table>*@

}
