@model Hostel_Managament_System_MVC.Models.Student
@{
    ViewBag.Title = "Changepassword";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Changepassword</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.STUDENTID)
    @Html.HiddenFor(model => model.FirstName)
    @Html.HiddenFor(model => model.LastName)
    @Html.HiddenFor(model => model.DOB)
    @Html.HiddenFor(model => model.Email)
    @Html.HiddenFor(model => model.CurrentAddress)
    @Html.HiddenFor(model => model.PermanentAddress)
    @Html.HiddenFor(model => model.FatherName)
    @Html.HiddenFor(model => model.Contactno)
    @Html.HiddenFor(model => model.Parent_Contactno)

    

    <div class="form-group">
        @*old Password*@
        @*@Html.LabelFor(model => model.Oldpss, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-10">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @placeholder = " Old Password ", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <!--<div class="form-group">-->
        @*New Password*@
        @*@Html.LabelFor(model => model.FatherName, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <!--<div class="col-md-10">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @placeholder = " New Password ", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
    </div>-->
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}
